@import '../../styles/variables';

.searchDiv{
    display: grid;
    gap: 40px;
    background-color: $greyIsh;
    border-radius: 10px;
    padding: 48px;

    .firstDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        gap: 10px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 10px 15px -3px darken($greyIsh, 15%);
        
        .fieldDiv{
            display: flex;
            gap: 8px;
            align-items: center;
            
            .icon{
                font-size: 25px;
            }

            .inputDiv{
                background-color: transparent;
                color: rgb(59 130 246);
                width: 100%;
                border: none;
                &:focus{
                    outline: none;
                }
            }

            .closeIcon{
                font-size: 25px;
                color: #a5a6a6;
                &:hover{
                    color: $textColor;
                }
            }
        }

        .searchButton{
            background: $blueColor;
            height: 100%;
            padding: 20px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            border: none;
            &:hover{
                background-color: lighten($blueColor, 10%);
            }
        }
    }

    .secondDiv{
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: center;
        
        .singleSearch{
            display: flex;
            gap: 8px;
            align-items: center;

            .labelDiv{
                color: #808080;
                font-weight: 600;
            }

            .selectDiv{
                background-color: white;
                border-radius: 15px;
                padding: 4px 16px;
                border: none;
            }
        }
    }

}